body{
	
    background: url("background-dice.jpeg") no-repeat center center fixed;	
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	font-size: 1.2em;
}

#bild{
	
	background-image: url("coollogo_com-18373666.png");
	background-repeat: no-repeat;
	background-position: center center;
	height: 208px;
	width:1010px;
	display: block;
    margin: 0 auto;
    opacity: 0.9;
    filter: alpha(opacity=50);
	cursor: pointer;
	
	
}

#startMenu{
	width: 500px;
	height: 400px;
	text-align: center;
	margin: 0 auto;
    opacity: 0.9;
    filter: alpha(opacity=50);
	border-radius: 4px;
	border: none;
	background-position: center center;
}


#loginform{
	width: 600px;
	height: 400px;
	text-align: center;
	margin: 0 auto;
    opacity: 0.9;
    filter: alpha(opacity=50);
	border-radius: 4px;
	border: none;
	background-position: center center;
	
}

form-input::before{
content:"";
position: absolute;


}

.btn-login{
	height:45px;
	width:320px;
	font-size: 18px;
	border: none;
	margin-bottom: 20px;
	border-radius: 4px;
	background-color: #33ccff;
	padding-left: 20px;
	border: 1px solid black;
	
}

.btn-logout{
	height:45px;
	width:150px;
	font-size: 18px;
	border: none;
	float: right;
	background-color: #33ccff;
	padding-left: 20px;
	text-align: center;
	border: 1px solid black;
	
}

#info{
	
	color: #33ccff;
    height: 100px;
	width:800px;
	display: block;
    margin: 0 auto;
   	text-align: center;
	margin: 0 auto;
    opacity: 0.5;
	filter: alpha(opacity=50); 
}
	

/* for main site login forms */
input[type="text"], input[type="password"]{
	height:45px;
	width:300px;
	font-size: 18px;
	border: none;
	margin-bottom: 20px;
	border-radius: 4px;
	background-color: #fff;
	padding-left: 20px;
}

/* Button for createaccount in createaccount */
.btn-createaccount2{
	height:45px;
	width:320px;
	font-size: 18px;
	border: none;
	margin-bottom: 20px;
	border-radius: 4px;
	background-color: yellow;
	padding-left: 20px;
    
}

/* Button for view highscore ingame */
.btn-highscore2{
	height:45px;
	max-width: 30%;
	font-size: 18px;
	border: none;
	margin-bottom: 20px;
	border-radius: 4px;
	background-color: ;
	padding-left: 20px; 
	background-color: #33ccff;
	text-align: center;
}


#gamediv{
	max-width:80%;
	margin: 0 auto;
	text-align:center;
	border-radius:10px;
	padding: 10px;
	background-color:
	opacity: 0.9;
    filter: alpha(opacity=50);
}
.panel{
	max-width: 30%;
	margin: 30px auto;
	border-radius: 15%;
	padding: 10px;
	background: #eee;
	opacity: 0.9;
    filter: alpha(opacity=50);
	position: center;
}

.panel2{
	max-width: 30%;
	margin: 30px auto;
	border-radius: 10px;
	padding: 15px;
	background: #eee;
	opacity: 0.9;
    filter: alpha(opacity=50);
	text-align: center;
	opacity: 0.9;
    filter: alpha(opacity=50);
	border-radius: 4px;
	border: none;
	position: center;
}


/* Buttons for startsite except loginbtn */
button {
	padding: 15px 50px;
	cursor: pointer;
	border-radius: 4px;
	border: none;
	background-color: #33ccff;
	border-bottom: 4px;
	margin-bottom: 4px;
	position: center;
	

}

input{
	height:45px;
	width:300px;
	font-size: 18px;
	border: none;
	margin-bottom: 20px;
	border-radius: 4px;
	background-color: #fff;
	padding-left: 20px;
}

h2.HeaderHigh {
  color: black;
  font-family: arial;
  font-size: 40px;
  margin-left: -10px;
  width: 100%;
  padding-left: 10px;
  border:none;
  background: #33ccff;
  border-radius: 4px;
  display: inline-block;
  text-align: center;
}

table,th,td {

font-family: arial;
  padding: 15px;
  border: 3px solid black;
  border-radius: 4px;

  color: black;
  background: #33ccff;
  text-align: center;
  margin: 0 auto;
	opacity: 0.9;
    filter: alpha(opacity=50);	

}

table.userscore {
	width: 100px;
}

